body {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    color: rgb(255, 255, 255);
}

h1, h2, h3 {
    font-family: "Roboto Slab", serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

a {
    color: rgb(184, 244, 255);
    text-decoration: none;
}

code {
    color: rgb(186, 242, 255);
    background-color: rgb(91, 91, 91);
}

pre>code, pre {
    background-color: rgb(106, 106, 106);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

pre {
    padding: 10px;
    width: 98%;
}